<a href="https://colab.research.google.com/github/SyahirahBasri/MANB2153-02/blob/master/21_9_2019(breastcancer).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from sklearn.datasets import load_breast_cancer
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
data = load_breast_cancer()

In [0]:
X = data.data
y = data.target
df = pd.DataFrame(X, columns=data.feature_names)

In [8]:
data.data.shape

(569, 30)

In [9]:
data.target.shape

(569,)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 30 columns):
mean radius                569 non-null float64
mean texture               569 non-null float64
mean perimeter             569 non-null float64
mean area                  569 non-null float64
mean smoothness            569 non-null float64
mean compactness           569 non-null float64
mean concavity             569 non-null float64
mean concave points        569 non-null float64
mean symmetry              569 non-null float64
mean fractal dimension     569 non-null float64
radius error               569 non-null float64
texture error              569 non-null float64
perimeter error            569 non-null float64
area error                 569 non-null float64
smoothness error           569 non-null float64
compactness error          569 non-null float64
concavity error            569 non-null float64
concave points error       569 non-null float64
symmetry error             569 non-null float64
fractal dimension error    569 non-null float64
worst radius               569 non-null float64
worst texture              569 non-null float64
worst perimeter            569 non-null float64
worst area                 569 non-null float64
worst smoothness           569 non-null float64
worst compactness          569 non-null float64
worst concavity            569 non-null float64
worst concave points       569 non-null float64
worst symmetry             569 non-null float64
worst fractal dimension    569 non-null float64
dtypes: float64(30)
memory usage: 133.4 KB

In [11]:
df.describe()

       mean radius  mean texture  ...  worst symmetry  worst fractal dimension
count   569.000000    569.000000  ...      569.000000               569.000000
mean     14.127292     19.289649  ...        0.290076                 0.083946
std       3.524049      4.301036  ...        0.061867                 0.018061
min       6.981000      9.710000  ...        0.156500                 0.055040
25%      11.700000     16.170000  ...        0.250400                 0.071460
50%      13.370000     18.840000  ...        0.282200                 0.080040
75%      15.780000     21.800000  ...        0.317900                 0.092080
max      28.110000     39.280000  ...        0.663800                 0.207500

[8 rows x 30 columns]

In [12]:
df.head()

   mean radius  mean texture  ...  worst symmetry  worst fractal dimension
0        17.99         10.38  ...          0.4601                  0.11890
1        20.57         17.77  ...          0.2750                  0.08902
2        19.69         21.25  ...          0.3613                  0.08758
3        11.42         20.38  ...          0.6638                  0.17300
4        20.29         14.34  ...          0.2364                  0.07678

[5 rows x 30 columns]

**KNN = 8**

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,
random_state=21, stratify=y)

In [0]:
knn = KNeighborsClassifier(n_neighbors=8)

In [18]:
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=8, p=2,
                     weights='uniform')

In [0]:

y_pred = knn.predict(X_test)

In [20]:
print("Test set predictions:\n {}".format(y_pred))
knn.score(X_test, y_test)

Test set predictions:
 [1 0 1 0 0 0 0 0 1 1 1 0 1 0 1 1 0 1 0 0 1 1 0 1 1 0 0 1 1 1 1 1 1 1 0 0 1
 1 1 0 0 1 0 1 1 1 1 1 0 1 0 1 0 0 1 1 1 0 0 1 1 0 0 1 1 0 1 1 1 1 0 0 0 1
 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1 1 0 1 1 1 1 1 1 0 0 1
 1 1 1 1 0 1 1 1 0 0 1 1 1 1 1 0 0 0 0 1 1 1 0 0 1 0 1 0 0 1 0 1 1 0 1 1 1
 0 1 1 1 0 0 1 1 1 1 0 0 0 1 1 1 1 1 1 1 0 0 0]

0.9239766081871345

**KNN = 3**

In [21]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train) 
y_pred = knn.predict(X_test)
print("Test set predictions:\n {}".format(y_pred))
knn.score(X_test, y_test)

Test set predictions:
 [1 0 1 0 0 0 0 0 1 1 1 0 1 0 1 1 1 1 0 0 1 1 0 1 1 0 0 1 1 1 0 1 1 1 0 0 1
 1 1 0 0 1 0 1 1 1 1 1 0 1 0 1 0 0 1 1 1 0 0 1 1 0 0 1 1 0 1 1 1 1 0 0 0 1
 0 1 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1
 1 1 1 1 0 1 1 1 0 0 1 1 1 1 1 0 0 0 0 1 1 1 1 0 1 0 1 0 0 1 0 1 1 0 1 1 1
 0 1 1 1 0 0 1 1 1 1 0 0 0 1 1 1 1 1 1 1 0 0 0]

0.9239766081871345

**KKN**=**10**

In [22]:
knn = KNeighborsClassifier(n_neighbors=10)
knn.fit(X_train, y_train) 
y_pred = knn.predict(X_test)
print("Test set predictions:\n {}".format(y_pred))
knn.score(X_test, y_test)

Test set predictions:
 [1 0 1 0 0 0 0 0 1 1 1 0 1 0 1 1 0 1 0 0 1 1 0 1 1 0 0 1 1 1 1 1 1 1 0 0 1
 1 1 0 0 1 0 1 1 1 1 1 0 1 0 1 0 0 1 1 1 0 0 1 1 0 0 1 1 0 1 1 1 1 0 0 0 1
 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1 0 1
 1 1 1 1 0 1 1 1 0 0 1 1 1 1 1 0 0 0 0 1 1 1 1 1 1 0 1 0 0 1 0 1 1 0 1 1 1
 0 1 1 1 0 0 1 1 1 1 0 0 0 1 1 1 1 1 1 1 0 0 0]

0.9181286549707602

**KNN=15**

In [23]:
knn = KNeighborsClassifier(n_neighbors=15)
knn.fit(X_train, y_train) 
y_pred = knn.predict(X_test)
print("Test set predictions:\n {}".format(y_pred))
knn.score(X_test, y_test)

Test set predictions:
 [1 0 1 0 0 0 0 0 1 1 1 0 1 0 1 1 1 1 0 0 1 1 0 1 1 0 0 1 1 1 1 1 1 1 0 0 1
 1 1 0 0 1 0 1 1 1 1 1 0 1 0 1 0 0 1 1 1 0 0 1 1 0 0 1 1 0 1 1 1 1 0 0 0 1
 0 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 1
 1 1 1 1 0 1 1 1 0 0 1 1 1 1 1 0 0 0 0 1 1 1 1 1 1 0 1 0 0 1 0 1 1 1 1 1 1
 0 1 1 1 0 0 1 1 1 1 0 0 0 1 1 1 1 1 1 1 0 0 0]

0.9005847953216374